.bottomBtn{
    font-size: 1em;
    position: relative;
    top:0%;
    left:0%;
    width:100%;
    height:10%;
    border:2px solid black;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #ffffff 30%, #ffffff 30%, #ffffff 70%, #000000 100%);
    background: -webkit-linear-gradient(top, #000000 0%,#ffffff 30%,#ffffff 30%,#ffffff 70%,#000000 100%);
    background: linear-gradient(to bottom, #000000 0%,#ffffff 30%,#ffffff 30%,#ffffff 70%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}

.bottomBtn:active{
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #ffffff 45%, #ffffff 55%, #000000 100%);
    background: -webkit-linear-gradient(top, #000000 0%,#ffffff 45%,#ffffff 55%,#000000 100%);
    background: linear-gradient(to bottom, #000000 0%,#ffffff 45%,#ffffff 55%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}


#clefImg{
    width:100% !important;
    height: auto !important;
}

#clefWrapper{
    position:absolute;
    width:10%;
    right:75%;
    top:10%;
}

#gotoIndex2{
    position:relative;
    top:0%;
    left:0%;
    width:100%;
    height:10%;
}

.noteBtn{
    position: absolute;;
    left:14%;
    width:14.2857%;
    height:10%;
    font-size: 2em;
    bottom:0%;
    border: 2px solid black;
    background: #000000;
    background: -moz-linear-gradient(left,  #000000 0%, #ffffff 30%, #ffffff 70%, #000000 100%);
    background: -webkit-linear-gradient(left,  #000000 0%,#ffffff 30%,#ffffff 70%,#000000 100%);
    background: linear-gradient(to right,  #000000 0%,#ffffff 30%,#ffffff 70%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}

.noteBtn:active{
    background: #000000; 
    background: -moz-linear-gradient(left,  #000000 0%, #ffffff 45%, #ffffff 45%, #ffffff 55%, #000000 100%);
    background: -webkit-linear-gradient(left,  #000000 0%,#ffffff 45%,#ffffff 45%,#ffffff 55%,#000000 100%);
    background: linear-gradient(to right,  #000000 0%,#ffffff 45%,#ffffff 45%,#ffffff 55%,#000000 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}

#a{left:0%;}
#b{left:14.2857%;}
#c{left:28.5714%;}
#d{left:42.8571%;}
#e{left:57.1429%;}
#f{left:71.4286%;}
#g{left:85.7143%;}


.numBtn{
    position: absolute;
    width:12.5%;
    height:10%;
    font-size: 2em;
    bottom:0%;
    border: 2px solid black;
    background: #000000;
    background: -moz-linear-gradient(left,  #000000 0%, #ffffff 30%, #ffffff 70%, #000000 100%);
    background: -webkit-linear-gradient(left,  #000000 0%,#ffffff 30%,#ffffff 70%,#000000 100%);
    background: linear-gradient(to right,  #000000 0%,#ffffff 30%,#ffffff 70%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}

.numBtn:active{
    background: #000000; 
    background: -moz-linear-gradient(left,  #000000 0%, #ffffff 45%, #ffffff 45%, #ffffff 55%, #000000 100%);
    background: -webkit-linear-gradient(left,  #000000 0%,#ffffff 45%,#ffffff 45%,#ffffff 55%,#000000 100%);
    background: linear-gradient(to right,  #000000 0%,#ffffff 45%,#ffffff 45%,#ffffff 55%,#000000 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}

#b1{left:0%;}
#b2{left:12.5%;}
#b3{left:25%;}
#b4{left:37.5%;}
#b5{left:50%;}
#b6{left:62.5%;}
#b7{left:75%;}
#b8{left:87.5%;}

#perfectionCounter{
    position: absolute;
    top:50%;
    left:0%;
    font-size: 40px;
    width:100%;
    text-align: center;
}



#sideBar{
    position: absolute;
    right:100%;
    height:100%;
    background-color:whitesmoke;
    width:80%;
    z-index: 1;
}

#sideBarImg{
    position:absolute;
    height:10%;
    left:100%;
    max-width: 100%;
    max-height: 100%;
}